<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Twiiter Search Interactions">
    <meta name="author" content="InsertCod3 - Insertcod3@gmail.com">
    <title>Twitter Search · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Iconicframework CDN --->
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- Our CSS for this template -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

</head>

<body class="text-center" data-gr-c-s-loaded="true">


</body>

</html>