<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Twiiter Search Interactions">
    <meta name="author" content="InsertCod3 - Insertcod3@gmail.com">
    <title>Twitter Search · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Iconicframework CDN --->
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- JQuery CDN --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Our CSS for this template -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <!-- Our Font for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center" data-gr-c-s-loaded="true">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <!-- 
                <h3 class="masthead-brand">Twitter Query</h3>
                -->
                 <!-- Tabs Nav -->
                 <!--
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
                -->
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 id="search_bar_tilte" style="margin-bottom: 3%; font-size: 60px; position: relative;" class="cover-heading"><strong>Twitter Search</strong></h1>
            <form class="form-inline mt-2 mt-md-0 d-flex justify-content-center" action="/search" method="get">
                <div class="input-group input-group-lg mb-3">
                        <input type="text" class="form-control inputGroup-sizing-lg" name="q" id="search_query" placeholder="search here..." aria-label="search here..." aria-describedby="basic-addon2">
                        <div class="input-group-append">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                        </div>
                
            </form>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <div class="contactus" style="margin-top: 3%;">
                    <div class="container">
                      <h3 class="section-heading">Want To Contact Me?</h3>
                      <p class="section-description">If you have any question or concern feel free to contact us.
                        </p><p> Email: insertcod3@gmail.com </p> 
                      <p></p>
                      <p>Made with <i style="color: red" class="icon ion-md-heart"></i> in New York • Developed with
                        <a href="https://www.palletsprojects.com/p/flask/" target="_blank">Flask</a>,
                        <a href="https://developer.twitter.com/en/docs.html" target="_blank">Twitter API</a>,
                        <a href="https://vuejs.org/" target="_blank">Vue.js</a>,
                        <a href="https://fontawesome.com/?from=io" target="_blank">FontAwesome</a>,
                        <a href="https://getbootstrap.com" target="_blank"> Bootstrap</a>, and
                        <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>
                      </p>
                    </div>
                  </div>
            </div>
        </footer>
    </div>


</body>

</html>