<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Twiiter Search Interactions">
  <meta name="author" content="InsertCod3 - Insertcod3@gmail.com">
  <title>Twitter Search · Bootstrap</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- JQuery CDN --->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Our CSS for this template -->
  <link href="{{ url_for('static', filename='search.css') }}" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div>
      <tweet-component v-for="tweet in tweets" :tweet="tweet" v-bind:key="tweet.id" style="margin: 10px;" />
    </div>
    <v-btn
      color="#757575"
      @click="prevPage">
      Previous
    </v-btn>
    <v-btn
      color="#00ffff"
      @click="nextPage">
      Next
    </v-btn>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script> 
    /*
    - Dictionay schema for tweets data.
    {
      id: 1,
      name: 'James',
      handle: '@jokerjames',
      image: 'https://semantic-ui.com/images/avatar2/large/matthew.png',
      tweet: "If you don't succeed, dust yourself off and try again.",
      color: "FFFFFF",
      likes: 10,
    } 
    */
    
    // Tweets Data
    const tweets = []
    // Color options
    const ColorOptions = ["#b587bd", "#c98396", "#dd8585", "#e2a690", "#46bedf"]

    function choose(choices) {
      /* Chooses a random choice in a Array[] */
      var index = Math.floor(Math.random() * choices.length);
      return choices[index];
    }

    function PopulateTweets(){
      /* Populates the Search Box with the User Query */
      var url = new URL(window.location.href);
      var search_params = new URLSearchParams(url.search);
      if(search_params.has("query")){
        fetch('/api/tweet/search?query=' + search_params.get("query") + "&count=25")
          .then(function (response) {
            return response.json();
          })
          .then(function (myJson) {
            for (content in myJson.data.statuses) {
              info = myJson.data.statuses[content]
              vItem = {
                name: info.user.name,
                handle: '@' + info.user.screen_name,
                image: info.user.profile_image_url_https,
                color: choose(ColorOptions),
                tweet: info.text
              }
              tweets.push(vItem)
            }
        });
      }
    }

    /* Tweet Holder */
    Vue.component('tweet-component', {
      template: `
        <v-card class="mx-auto" :color="tweet.color" dark max-width="800">
          <v-card-title>
            <v-icon large left>
              mdi-twitter
            </v-icon>
            <span class="title font-weight-light">{% raw %}{{tweet.name}}{% endraw %}</span>
          </v-card-title>
      
          <v-card-text class="headline font-weight-bold">{% raw %}{{tweet.tweet}}{% endraw %}</v-card-text>
      
          <v-card-actions>
            <v-list-tile class="grow">
              <v-list-tile-avatar color="grey darken-3">
                <v-img class="elevation-6" :src="tweet.image"></v-img>
              </v-list-tile-avatar>
      
              <v-list-tile-content>
                <v-list-tile-title>{% raw %}{{tweet.handle}}{% endraw %}</v-list-tile-title>
              </v-list-tile-content>
      
              <v-layout align-center justify-end>
                <v-icon class="mr-1">mdi-heart</v-icon>
                <span class="subheading mr-2">256</span>
                <span class="mr-1">·</span>
                <v-icon class="mr-1">mdi-share-variant</v-icon>
                <span class="subheading">45</span>
              </v-layout>
            </v-list-tile>
          </v-card-actions>
        </v-card>
        `,
      props: {
        tweet: Object
      }
    });

    // Populate the Tweets Data
    $(function() {
      PopulateTweets()
    });

    /* Vue App */
    new Vue({
      el: '#app',
      data: {
        tweets
      }
    })
  </script>
</body>


</html>